.App{
  background-color: #fff;
  min-height: 100vh;
  font-family: Euclid Circular B;
  font-weight: regular;
 }
  
 /* TYPEFACES ----------------------------------------------------------------------- */
 @font-face{
  font-family: Euclid Circular B;
  font-weight: bold;
  src: local('EuclidCircularB-Bold'), url(/src/Fonts/EuclidCircularB-Bold.otf) format('truetype');
 }
  
 @font-face{
  font-family: Euclid Circular B;
  font-weight: light;
  src: local('EuclidCircularB-Light'), url(/src/Fonts/EuclidCircularB-Light.otf) format('truetype');
 }
  
 @font-face{
  font-family: Euclid Circular B;
  font-weight: medium;
  src: local('EuclidCircularB-Medium'), url(/src/Fonts/EuclidCircularB-Medium.otf) format('truetype');
 }
  
 @font-face{
  font-family: Euclid Circular B;
  font-weight: regular;
  src: local('EuclidCircularB-Regular'), url(/src/Fonts/EuclidCircularB-Regular.otf) format('truetype');
 }
  
 @font-face{
  font-family: Euclid Circular B;
  font-weight: semibold;
  src: local('EuclidCircularB-Semibold'), url(/src/Fonts/EuclidCircularB-Semibold.otf) format('truetype');src: local("Euclid Circular B");
 }
  
 /* AUTHCLASSIFER ----------------------------------------------------------------- */
  
 .App-header {
  color: white;
  height: 65vh;
  background-color: #3393EC;
 }
  
 .App-header h1{
  font-family: Euclid Circular B;
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  padding-top: 88px;
  
 }
  
 .App-header h2{
  font-family: Euclid Circular B;
  font-size: 18px;
  text-align: center;
  margin-top: 1%;
 }
  
 .navbar {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 20px;
  gap: 3%;
  margin: 0px;
  padding-top: 60px;
  
 }
  
 .navbar a {
  
  float: left;
  font-size: 18px;
  color:lightgray;
  text-align: center;
  padding: 14px 16px;
 }
  
 .navbarContainer1{
  /* border: 2px solid white; */
  
  height: 80px;
  width: 20%;
 }
  
 .navbarContainer2{
  /* border: 2px solid white; */
  height: 80px;
  width: 30%;
  font-family: Euclid Circular B;
  font-weight: bold;
 }
  
 .box{
  padding-top: 50px;
  padding-bottom: 80px;
 }
  
  
 .pageHeading{
  font-size: 42px;
  text-align: center;
 }
  
 .pageCaption{
  font-size: 18px;
  text-align: center;
  font-family: Circular;
  font-weight: medium;
}


#h2-padding{

  padding-top: 16px;
  text-align: center;
 }
  
  
 hr.solid {
  border-top: 2px solid #5F96FF;
  width: 25%;
 }
  
 .auth{
  /* height: 100%; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 5%; */
  font-family: Euclid Circular B;
  font-weight: bold;
  /* border: 2px solid black; */
  /* margin-top: 2%; */
  
 }
  
 .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid black; */
 }
  
 .authTextOptionsNewHere{
    font-size: 18px;
    font-family: Euclid Circular B;
    font-weight: Bold;
    color:white
 }
  .authTextOptionsSignIn{
    font-size: 16px;
    font-family: Euclid Circular B;
    font-weight: regular;
    color:white;
 }
  
  /* SIGN UP ----------------------------------------------------------------- */
  
 .App-link {
  color: #61dafb;
}

.authForm
{
  color: black; /*TO GET RID OF 'EMPTY CSS 'ERROR'*/
}

.authInfo{
  /* margin-top: 3%; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 68px;
}

.submitButtonContainer, .logoutButtonContainer .saveTaskButtonContainer{
  margin-top: 8%;
  width: 100%;
  height: 54px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
 }
  
 .goBack, .logOut{
 margin-top: 25px;
 font-size: 14px;
 color: #A5A5A5;
 text-align: center;
 /* text-decoration: none; */
 cursor: pointer;
 font-family: Euclid Circular B;
 font-weight: semibold;
 letter-spacing: 1.5px;
 }
  
 .submitButton{
  background-color: #3393EC;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-family: Euclid Circular B;
  font-weight: bold;
  height: 54px;
  width: 795px;
  color: #F5F5F5;
}








  /* FORM.JS ----------------------------------------------------------------- */

  .form{
    width: 795px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    left: 40%;
    
  }
  
.formHeader{
  background-color: #3393EC;
  width: 100%;
  height: 400px;
  background: linear-gradient(135deg, #3C8CE7 0%, #00C3D5 100%);  
  margin: 0px;
  color: white;
  
 }
  
 .formHeader h1{
  font-family: Euclid Circular B;
  font-size: 42px;
  text-align: center;
  font-weight: bolder;
 }
  
 .formHeader h2{
  font-family: Euclid Circular B;
  font-size: 18px;
  text-align: center;
  margin-top: 1%;
 }
  
 .formHeaderboxContainer{
  height: 200px;
  width: 100%;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formGroup{
  font-family: Euclid Circular B;
  font-weight: normal;
  font-size: 16px;
  border: none;
}

.formGroup, label{
  display: block;
}


.loginForm{
  display: inline-block;
}

.form input[type=text]{
  width: 90%;
  height: 100px;
  background-color: #F3F3F3;
  outline: #F3F3F3;
  border: none;
  /* border-radius: 2px; */
}


input[type=button]{
  background-color: #F3F3F3;
  font-family: Euclid Circular B;
  font-weight: semi-bold;
  font-size: 20px;
}

.question{
  font-family: Euclid Circular B;
  font-weight: bold;
  font-size: 16px;
  color: black;
}


.howWasYourDay{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}


.emotion{
    background-color: white; 
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    height: 40px;
    width: 100px;
    border-radius: 10px;
}

.highlightsOfYourDay{

}

.makeThisDayBetter{


}

.lookingFoward{

}


























  /* MISCELLANEOUS ------------------------------------------------------------- */




.emotion:active{
  background-color: #83B4FF;
}

hr.solid {
  border-top: 2px solid #5F96FF;
  width: 25%;
}



header{
    width: 100%;
    height: 450px;
    background:  #3393EC;
    margin: 0px;
  
 }
  
 ul {
    list-style-type: none;
  }
  li {
    float: right;
    font-size: 18px;
    color: #CBDDFF;
 }
  
 li a {
    display: block;
    padding: 8px;
    float: right;
    font-size: 18px;
    color: #CBDDFF;
}


.title{
    font-size: 24px;
    color:#F9FAF8;

}

input{
    border-radius: 5px;
    background-color: white;
    padding: 12px 20px;
    border: none;
 }
  
 label{
    color: white;
 }
  
 .submitButton{
    background-color: #3393EC;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-family: Euclid Circular B;
    font-weight: bold;
    height: 54px;
    width: 795px;
    color: #F5F5F5;
}


span{
  cursor: pointer;
  text-decoration: underline;
  }

    
.logoutButton{
  background-color: #3393EC;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-family: Euclid Circular B;
  font-weight: bold;
  height: 54px;
  width: 795px;
  color: #F5F5F5;
}


input[type=text]{
  width: 243.04px;
  height: 30px;
  border-radius: 20px;
  background-color: #F3F3F3;
  outline: none;
}
