.highlightBoxJournal{
    width: 100%;
     padding-top: 48px;
     margin-left: 50%;
  }
  
.howWasDayBoxJournal{
    padding-top: 42px;
    margin-left: 50%;
  }

.betterDayBoxJournal{
     padding-top: 42px;
     margin-left: 50%;
  }
  
.tomorrowBoxJournal{
     padding-top: 42px;
     margin-left: 50%;
  }