
/*Tasks*/

.taskHeader{
    width: 100%;
    height: 400px;
    
    background: linear-gradient(135deg, #15868C 0%, #158C76 0.01%, #2BB438 100%);
    margin: 0px;
    color: white;
  }
  
  .taskHeader h1{
    font-family: Euclid Circular B;
    font-size: 42px;
    text-align: center;
    font-weight: bolder;
  }
  
  .taskHeader h2{
    font-family: Euclid Circular B;
    font-size: 18px;
    text-align: center;
    margin-top: 1%;
  }
  
  .taskHeaderboxContainer{
    height: 200px;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .saveTaskButton{
    background-color: #34A138;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-family: Euclid Circular B;
    font-weight: bold;
    height: 54px;
    width: 795px;
    color: #F5F5F5;
  }




  .TodoDiv{
    background: #f3f3f3;
    margin-top: 40px;
    margin-left: 450px;
    padding: 10px;
    width: 795px;
    cursor: pointer;

    border-left: 13px;
    border-color: #34A138;
    border-style: outset;
    /* border: none; */
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
  }

  .todoTitle{
    font-size: 16px;
    font-family: Euclid Circular B;
    font-weight: bold;

  }

  .todoCaption{
    font-size: 14px;
    font-family: Euclid Circular B;
    font-weight: semibold;

  }

  .cancelTodo{
    display: flex;
    flex-direction: column;
  }

  .addTaskForm{
    margin-top: 100px;
    margin-left: 450px;
    
    width: 795px;

    display: flex;
    flex-direction: column;

  }

  .inputBoxDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


  }

  .saveButtonDiv{
    margin-top: 30px;
    margin-left: 300px;
  }



.breaking{
  display: flex;
  flex-direction: column;
}


  .whatTask{
    width: 280px;
    height: 48px;

  }

  .whatDay{
    width: 252px;
    height: 48px;

  }

  .whatTime{
    width: 184px;
    height: 48px;

  }



  
